// _variables.scss
$primary-font: "游明朝体", "yumincho", "游明朝", "yu mincho", "ヒラギノ明朝 pron w3", "hiragino mincho pron w3", "HiraMinProN-W3", "ヒラギノ明朝 pron", "hiragino mincho pron", "ヒラギノ明朝 pro", "hiragino mincho pro", "hgs明朝e", "ＭＳ Ｐ明朝", "ms pmincho", serif;
$background-image: url("../images/bg_sub.jpg");
$header-bg-image: url("../images/head_bg.webp");
$primary-color: #3c1c4a;
$secondary-color: #a56cc1;
$text-color: #fff;